.FormikLearning{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MyTextField{
  width: 80%;
  min-width: 200px;
}

.container{
  margin: 10px;
}

.Button{
  margin: 5px;
}
.ListItem{
  width: 80%;
  min-width: 200px;
  text-align: center;
}
.Paper{
  min-width: 300px;
  width: 30%;
  text-align: center;
}

.PaperSuccess, .DetailsWindow{
  min-width: 400px;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Typography{
  margin-top: 30px;
}

.Content{
  margin-top: 20px;
}

.linksContainer{
  width: 100px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.MuiDialogTitle-root, .MuiDialogContentText-root{
  text-align: center;
}

.btn-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}